body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    color: antiquewhite;
}
#container{
    width: 80%;
    margin: 10px auto;
    border: 3x solid #8b22a8;
    background-color: white;
    padding: 100px;
    box-shadow: 0 0 10px red;
}
#header{
    text-align: center;
    color: rgb(0, 255, 55);

}
#firstheading{
    color: black;
}
#asideheading{
    color: white;
}
#maindiv{
    display: flex;
}
#list{
    width: 25%;
    background-color: #77c9d4;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
}
#list1
{
    color: white;
}
#otherside{
    background-color: lightblue;
    width: 70%;
    margin-left: 10px;
}
#firstsect{
    background: antiquewhite;
    margin-top: 10;
    margin-left: 50;
    margin-right: 50;
    border-radius: 8px;
}
#secondsect{
    background: antiquewhite;
    margin-top: 10;
    margin-left: 50;
    margin-right: 50;
    border-radius: 8px;
}
